<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SignUp Page</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<!-- <link rel="stylesheet" type="text/css" href="/css/nunito-font.css"> -->
	<!-- Main Style Css -->
    <link rel="stylesheet" href="/css/admin_design.css"/>
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="/img/enoch.JPG" width="500" alt="form">
			</div>
			
			<form class="form-detail" id="fo" action="/auth/register" method="POST">
				<h2>Sign Up Form</h2>
				<div class="form-row">
					<input type="text" name="email" id="email" class="input-text" placeholder="Email Address" required >
				</div>

				<div class="form-row">
					<input type="text" name="name" id="name" class="input-text" placeholder="Your Username" required>
				</div>
				
				<div class="form-row">
					<input type="password" name="password" id="password" class="input-text" placeholder="Password" required>
				</div>
				<!-- <div class="form-row">
					<input type="password" name="password_2" id="comfirm-password" class="input-text" placeholder="Comfirm Password" required>
				</div> -->
				<div class="form-row-last">
					<input type="submit" name="signUp" class="register" value="signUp">
				</div>
			</form>
		</div>
	</div>


	<!-- <script>
		
		const form = document.querySelector("#forms");
		form.addEventListener('submit',async (e)=>{
			e.preventDefault()

			console.log('submitting..');
		
				let response =  fetch('http://localhost:5500/auth/register',{
						method:'POST',
						headers:{
							'Content-Type':'application/json',
							'Accept':'application/json'
						},
						body: JSON.stringify({
							username,
							email,
							password
						})
					}).then(res=>res.json()).then(data=>console.log('success',data)).catch(err=>console.log('error',err.message))
					 
				  
		})
	 
	</script> -->

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>